.icons {
    background-color: black;
    text-align: center;
    padding: 13px 0px;
    border-radius: 30px;
}

.fstlbl {
    color: white;
    font-size: 20px;
    font-weight: 30;
}

.fstrow {
    align-items: center;
    margin-top: 20%;
}

.ram {
    margin-top: 20px;
    align-items: center;
}

.header1 {
    background-color: aqua;
}

.ankr {
    text-decoration: none;
    color: black;
}
.header1 {justify-content: space-between;display: flex;}
.ram {justify-content: space-between; display: flex;}
.black {background-color: black; padding: 20px 0px;}
